*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  var(--main-color);
}
.filters-container {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.filter-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-group select,
.filter-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    min-width: 150px;
}